type custom_globalactions_service, system_api_service, system_server_service, service_manager_type;

# Pocket judge
type pocket_service, system_api_service, system_server_service, service_manager_type;

# Freeform
type lmo_freeform_service, system_api_service, system_server_service, service_manager_type;
type boost_framework_service, system_api_service, system_server_service, service_manager_type;

# App Locker
type app_lock_service, system_api_service, system_server_service, service_manager_type;
