# Set tethering properties
set_prop(system_server, device_config_tethering_prop)

# Pocket judge
allow system_server pocket_service:service_manager { add find };
allow system_server pocket_judge_sysfs:dir search;
allow system_server pocket_judge_sysfs:file rw_file_perms;

# Get custom hook prop
get_prop(system_server, custom_hook_prop)

# Freeform
add_service(system_server, lmo_freeform_service);

# Boost framework
add_service(system_server, boost_framework_service);
