define(`all_untrusted_apps_only',`{
  ephemeral_app
  isolated_app
  isolated_app_all
  isolated_compute_app
  untrusted_app
  untrusted_app_25
  untrusted_app_27
  untrusted_app_29
  untrusted_app_30
  untrusted_app_32
  untrusted_app_all
}')
